body {
    background-color: #0a192f;
    color: #ccd6f6;
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
}

nav {
    background-color: #112240;
    text-align: center;
    padding: 1em;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: #64ffda;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover,
nav ul li a.active {
    color: #ccd6f6;
}
/*hover*/
nav ul li a:hover,
nav ul li a.active {
  color: #ccd6f6;
  text-shadow: 0 0 8px #8a2be2, 0 0 12px #8a2be2, 0 0 18px #8a2be2;
  transition: all 0.3s ease;
}

.about {
    padding: 50px;
    text-align: center;
}

table {
    width: 60%;
    margin: 20px auto;
    border-collapse: collapse;
    background-color: #112240;
}

th, td {
    border: 1px solid #64ffda;
    padding: 12px;
}

th {
    color: #64ffda;
}

@keyframes fadeUp {
  from {opacity: 0; transform: translateY(30px);}
  to {opacity: 1; transform: translateY(0);}
}

body {
  animation: fadeIn 0.6s ease-in-out;
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}
